<<<<<<< HEAD
body  {
    background-image: url("Pizza1.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
#fullForm{
height: 1000px;
width: 700px;

margin: auto;
background:linear-gradient(90deg, rgba(92,141,244,1) 0%, rgba(230,151,249,1) 50%, rgba(92,141,244,1) 100%);
padding: 80px;

}

.sectionOne{
    float: left;
}

.btn{
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: blueviolet;
    color: white;
    font-weight: 600;
}

.center{
    text-align: center;
}

.field{
    height: auto;
    width: 180px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.floatclear{
    clear:left;
    margin: 10px;
    
}

.addressbox{
float: left;
height: 300px;
width: 300px;
padding: 25px;
font-size: 20px;
}
=======
#fullForm{
height: 1000px;
width: 500px;

margin: auto;
background:linear-gradient(90deg, rgba(92,141,244,1) 0%, rgba(230,151,249,1) 50%, rgba(92,141,244,1) 100%);
padding: 80px;

}

.sectionOne{
    float: left;
}

.btn{
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: blueviolet;
    color: white;
    font-weight: 600;
}

>>>>>>> f92258ebeeb08e84fe59a24995029a613f34cb8a
